on:
  push:
    branches:
      - book

jobs:
  deploy:
    name: deploy books
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: extractions/setup-mdbook@v1
      - run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git checkout -b pages
          git merge --no-ff origin/book

          mdbook build mutemaanpa-dev-book
          mdbook build mutemaanpa-background-book
          mdbook build mutemaanpa-story-book

          mv mutemaanpa-dev-book/book books/dev
          mv mutemaanpa-background-book/book books/background
          mv mutemaanpa-story-book/book books/story

          find . -mindepth 1 -maxdepth 1 ! \( -name 'books' -o -name 'index.html' -o -name '.git' \) -exec rm -r {} +

          git add .
          git commit -m "Generate pages"
      - uses: ad-m/github-push-action@master
        with:
          github_token: ${{ github.token }}
          branch: pages
          force: true
